body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', 'Roboto', 'Lato', 'Poppins', sans-serif;
}

.default{
    background-color: lightslategray;
}

.blue {
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(45deg, #4e64cf, #3973f0, #5677c0); /* Azules ajustados */
    background-size: 600% 600%;
    animation: blueAnimation 7s ease infinite;
}

@keyframes blueAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.purple {
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(45deg, #a45ed5, #a85dc8, #b983ff);
    background-size: 600% 600%;
    animation: purpleAnimation 7s ease infinite;
}

@keyframes purpleAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.light {
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(45deg, #ebf8f1, #d9eef2, #c5f2e6);
    background-size: 600% 600%;
    animation: lightAnimation 7s ease infinite;
}

@keyframes lightAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.green {
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(45deg, #a2e5bf, #85e0ba, #82f5b6);
    background-size: 600% 600%;
    animation: greenAnimation 7s ease infinite;
}

@keyframes greenAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dark {
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(45deg, #0d0d0d, #1a1a1a, #2a2a2a);
    background-size: 600% 600%;
    animation: darkAnimation 7s ease infinite;
}

@keyframes darkAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

