.nav-blue{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #1e3a8a;
}

.nav-dark{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #0d0d0d;
}

.nav-green{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #b3f5d9;
}

.nav-purple{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #6a0dad;
}

.nav-light{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #e1f7ea;
}

.nav-default{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: rgb(81, 104, 128);
}

.logout{
    cursor: pointer;
}

.menu-hamburguesa{
    height: 2rem;
    cursor: pointer;
}

button{
    width: 8rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.menu-desplegable{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.menu-desplegable.open-blue{
    opacity: 1;
    visibility: visible;
    display: flex;
    height: 25rem;
    background-color: #1e3a8a;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.menu-desplegable.open-green{
    opacity: 1;
    visibility: visible;
    display: flex;
    height: 25rem;
    background-color: #b3f5d9;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.menu-desplegable.open-dark{
    opacity: 1;
    visibility: visible;
    display: flex;
    height: 25rem;
    background-color: #0d0d0d;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.menu-desplegable.open-light{
    opacity: 1;
    visibility: visible;
    display: flex;
    height: 25rem;
    background-color: #e1f7ea;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.menu-desplegable.open-purple{
    opacity: 1;
    visibility: visible;
    display: flex;
    height: 25rem;
    background-color: #6a0dad;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.menu-desplegable.open-default{
    opacity: 1;
    visibility: visible;
    display: flex;
    height: 25rem;
    background-color: rgb(81, 104, 128);
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.ul-menu{
    margin: 0%;
    width: 8rem;
    height: 15rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
} 

strong{
    font-size: 1.2rem;
    text-decoration: underline;
}

.logo-nav{
    height: 2rem;
    width: auto;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-wp{
    width: 5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.footer-dashboard{
    position: fixed;
    bottom: 2rem;
    z-index: 1;
}

.taskContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    height: 50rem;
    width: 100rem;
}

.taskContainer-ind{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
}

.addTask-button{
    width: 20rem;
}

.input-container{
    width: 15rem;
    height: .7rem;
}