/*DARK THEME*/
.nav-dark{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #0d0d0d;
}

.footer-dark{
    color: white;
    position: fixed;
    bottom: 2rem;
    z-index: 1;
}

.logout-dark{
    color: white;
    cursor: pointer;
}

.li-nav-dark{
    color: white;
}

.title-container-dark{
    color: white;
}

.date-task-dark{
    color: white;
}

.title-task-dark{
    color: white;
}

.menu-desplegable.open-dark{
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22rem;
    width: 12rem;
    background-color: #0d0d0d;
    border-radius: 15px;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.addTask-button-dark{
    width: 20rem;
    color: white;
}

/*green THEME*/
.nav-green{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #66d2a3;
}

.footer-green{
    color: black;
    position: fixed;
    bottom: 2rem;
    z-index: 1;
}

.logout-green{
    color: black;
    cursor: pointer;
}

.li-nav-green{
    color: black;
}

.title-container-green{
    color: black;
}

.date-task-green{
    color: black;
}

.title-task-green{
    color: black;
}

.menu-desplegable.open-green{
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22rem;
    width: 12rem;
    background-color: #66d2a3;
    border-radius: 15px;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.addTask-button-green{
    width: 20rem;
    color: black;
}

/*purple THEME*/
.nav-purple{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #bd56c8;
}

.footer-purple{
    color: white;
    position: fixed;
    bottom: 2rem;
    z-index: 1;
}

.logout-purple{
    color: white;
    cursor: pointer;
}

.li-nav-purple{
    color: white;
}

.title-container-purple{
    color: white;
}

.date-task-purple{
    color: white;
}

.title-task-purple{
    color: white;
}

.menu-desplegable.open-purple{
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22rem;
    width: 12rem;
    background-color: #bd56c8;
    border-radius: 15px;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.addTask-button-purple{
    width: 20rem;
    color: white;
}

/*default THEME*/
.nav-default{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #8992a7;
}

.footer-default{
    color: white;
    position: fixed;
    bottom: 2rem;
    z-index: 1;
}

.logout-default{
    color: white;
    cursor: pointer;
}

.li-nav-default{
    color: white;
}

.title-container-default{
    color: white;
}

.date-task-default{
    color: white;
}

.title-task-default{
    color: white;
}

.menu-desplegable.open-default{
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22rem;
    width: 12rem;
    background-color: #8992a7;
    border-radius: 15px;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.addTask-button-default{
    width: 20rem;
    color: white;
}

/*light THEME*/
.nav-light{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #c3f1f6;
}

.footer-light{
    color: black;
    position: fixed;
    bottom: 2rem;
    z-index: 1;
}

.logout-light{
    color: black;
    cursor: pointer;
}

.li-nav-light{
    color: black;
}

.title-container-light{
    color: black;
}

.date-task-light{
    color: black;
}

.title-task-light{
    color: black;
}

.menu-desplegable.open-light{
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22rem;
    width: 12rem;
    background-color: #c3f1f6;
    border-radius: 15px;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.addTask-button-light{
    width: 20rem;
    color: black;
}

/*blue THEME*/
.nav-blue{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #6e79e2;
}

.footer-blue{
    color: white;
    position: fixed;
    bottom: 2rem;
    z-index: 1;
}

.logout-blue{
    color: white;
    cursor: pointer;
}

.li-nav-blue{
    color: white;
}

.title-container-blue{
    color: white;
}

.date-task-blue{
    color: white;
}

.title-task-blue{
    color: white;
}

.menu-desplegable.open-blue{
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22rem;
    width: 12rem;
    background-color: #6e79e2;
    border-radius: 15px;
    margin: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.addTask-button-blue{
    width: 20rem;
    color: white;
}

.menu-hamburguesa{
    height: 2rem;
    cursor: pointer;
}

.menu-hamburguesa-li{
    margin-right: 5rem;
    height: 2rem;
    cursor: pointer;
}

button{
    width: 8rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.menu-desplegable{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.ul-menu{
    margin: 0%;
    width: 8rem;
    height: 15rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
} 

strong{
    font-size: 1.2rem;
    text-decoration: underline;
}

.logo-nav{
    height: 2rem;
    width: auto;
    padding-top: 2px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border: 2px solid black;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-wp {
    width: 5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.621));
}

.taskContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    height: 50rem;
    width: 100rem;
    
}

.taskContainer-ind{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
}

.input-container{
    width: 15rem;
    height: .7rem;
}

.input-task-form{
    height: .7rem;
    width: 15rem;
}

.open-modal-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    margin-top: 1rem;
}

.input-task-formUpdate{
    height: .7rem;
}

.taskTitle{
    cursor: pointer;
}

.createModal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 30rem;
    width: 60rem;
    background-color: #96a5d0;
    position: absolute;
    top: 25%;
}

.updateModal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 30rem;
    width: 60rem;
    background-color: #96a5d0;
    position: absolute;
    top: 25%;
}

.open-modal{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .7rem;
    margin-top: 1rem;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 15px;
}

button.CreateTaskButton{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 5.3rem;
    height: 2.5rem;
    font-size: 17px;
    letter-spacing: .8px;
    background: rgba(0, 102, 255, 0.8); 
    color: #ffffff;
}

h3{
    height: .3rem;
}

.topContainer{
    border: 2px solid #0d0d0d;
    border-radius: 15px;
    height: 2.3rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.middleContainer{
    border: 2px solid #0d0d0d;
    height: 2.3rem;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.commentsContainer{
    margin-top: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.3rem;
    gap: 1rem;
    border: 2px solid #0d0d0d;
    border-radius: 15px;
    padding: 10px;
}

.completedTaskButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 2rem;
    height: 2rem;
    font-size: 20px;
    padding-top: 12px;
    padding-left: 12px;
    background: rgba(13, 176, 45, 0.8); 
    color: #ffffff;
    transition: .7s;
}

.uncompletedTaskButton{
    padding-top: 13px;
    padding-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 2rem;
    height: 2rem;
    font-size: 20px;
    letter-spacing: .8px;
    background: rgba(255, 0, 0, 0.8); 
    color: #ffffff;
    transition: .7s;
}

.deleteTaskButton{
    border: 1px solid black;
    width: 5.3rem;
    height: 2.5rem;
    font-size: 17px;
    letter-spacing: .8px;
    background: rgba(0, 102, 255, 0.8); 
    color: #ffffff;
}

.deleteContainerButton{
    border: 1px solid black;
    width: 13rem;
    height: 2.5rem;
    font-size: 17px;
    letter-spacing: .8px;
    background: rgba(0, 102, 255, 0.8); 
    color: #ffffff;
}

.completedCommentButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 2rem;
    height: 2rem;
    font-size: 20px;
    padding-top: 12px;
    padding-left: 12px;
    background: rgba(13, 176, 45, 0.8); 
    color: #ffffff;
    transition: .7s;
}

.unCompletedCommentButton{
    padding-top: 13px;
    padding-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 2rem;
    height: 2rem;
    font-size: 20px;
    letter-spacing: .8px;
    background: rgba(255, 0, 0, 0.8); 
    color: #ffffff;
    transition: .7s;
}
strong{
    text-decoration: none;
}

p{
    margin-left: 5px;
}

.commentsArrow{
    padding: 0px;
    margin: 0px;    
    width: 1rem;
}
